body{
    font-size: 14px;
}
#wrapper{
    width: 1000px;
    margin:0px auto;
    line-height: 24px;
}
#wrapper h1{
    line-height: 35px;
    text-align: center;
    border-bottom: 1px dashed #eee;
    padding-bottom: 10px;
}
#wrapper p{
    line-height: 35px;
    text-align: center;
}